<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seed Sower</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Welcome to Seed Sower</h1>
    <p class="tagline">Lifes a garden, sow what!</p>
    <hr>
    <!-- <footer>All Rights Reserved, &copy; 2022 Seed Sower</footer> -->
    {% endblock %}
  </body>
    <footer>All Rights Reserved, &copy; 2022 Seed Sower</footer>
</body>
</html>