{% extends 'base.html' %}
{% block content %}

<h1>Seed Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ seed.name }}</span>
                <p>Type: {{ seed.type }}</p>
                <p>Description: {{ seed.description }}</p>
                <p>Season: {{ seed.season }}</p>
                <p>Date Planted: {{ seed.date_planted }}</p>
            </div>
                <div class="card-action">
                    <a href="{% url 'seeds_update' seed.id %}">Edit</a>
                    <a href="{% url 'seeds_delete' seed.id %}">Delete</a>
                </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_watering' seed.id %}" method="POST">
            {% csrf_token %}
            {{ watering_form.as_p }}
            <input type="submit" class="btn" value="Add Watering">
          </form>      
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Watered</th></tr>
          </thead>
          <tbody>
            {% for watering in seed.watering_set.all %}
              <tr>
                <td>{{watering.date}}</td>
                <td>{{watering.get_water_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>   
      <hr>
        <div class="row">
        <div class="col s6">
            <h3>{{ seed.name }}'s Plots</h3>
            {% if seed.plots.count %}
            {% for plot in seed.plots.all %}
                <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    <span>{{ plot.name }}</span>
                    <br>
                    <span class="plot-zone">( {{ plot.zone }} )</span>
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'unassoc_plot' seed.id plot.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn">Remove</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>Not Planted yet :(</h5>
            {% endif %}
        </div>
        <div class="col s6">
            <h3>Available Plots</h3>
            {% if plots.count %}
              {% for plot in plots.all %}
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">
                        <span>{{ plot.name }}</span>
                        <br>
                        <span class="plot-zone">( {{ plot.zone }} )</span>
                    </span>
                  </div>
                  <div class="card-action">
                    <form action="{% url 'assoc_plot' seed.id plot.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn">Add</button>
                    </form>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <h5>{{seed.name}} Has been planted in all plots!</h5>
            {% endif %}
          </div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_water');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}
